
:root {
    --primary-color: #495057; 
    --secondary-color: #000000; /* Black */
    --accent-color: #FFC107; /* Yellow */
    --accent-color-dark: #FFA000; 
    --accent-color-light: #FFE082; 
    --notification-color: #FF5722; 
}

/* Header styles */
.navbar {
    background-color: var(--primary-color);
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #0d6ecf; /* Change the color on hover */
}

.jumbotron {
    background-color: var(--primary-color);
    color: rgb(170, 160, 44);
    text-align: center;

}

.jumbotron h1 {
    color: var(--accent-color-light); /* Use light accent color */
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem; /* Adjust font size as needed */
    text-align: center;
    text-shadow: 
        2px 2px 2px rgba(244, 180, 0, 0.4), 
        4px 4px 4px rgba(244, 180, 0, 0.3), 
        6px 6px 6px rgba(244, 180, 0, 0.2); 
    margin-bottom: 10px; 
}

.jumbotron p {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

/* Card styles */
.card-header.bg-primary {
    background-color: var(--primary-color);
    color: white;
}

.card-body {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-orange {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-orange:hover {
    background-color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
}

#notification-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0; 
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
    animation: slideIn 0.5s ease forwards; /* Animation to slide in */
}


.notification {
    margin: 0;
    color: #FFEB3B; /* Yellow */
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

/* Animation keyframes */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* Anchor styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-dark); 
}
