<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP | Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="display-4 fw-bold">Forgot Password</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <form id="reset-password-form" action="/reset_password" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" placeholder="Enter your new password" required>
                </div>
                <button type="submit" id="reset-password-button" class="btn btn-primary">Reset Password</button>
            </form>
            <p>Remembered your password? <a href="/">Login Here</a></p>
        </div>
    </main>

    <footer>
        {% if message %}
        <div id="notification-box" class="notification-box">
            <p class="notification">{{ message }}</p>
            <span class="close-btn" onclick="closeNotification()">×</span>
        </div>
        {% endif %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/form-validation.js"></script> <!-- Include your custom JavaScript file -->
</body>
</html>
