<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="static/css/profile-styles.css">
</head>
<body>

    <div class="container">
        <h1 class="title">Welcome to our Dashboard</h1>
        <ul class="options">
            <li><a href="/ner" class="option-link">Named Entity Recognition (NER)</a></li>
            <li><a href="/sentiment_Analysis" class="option-link">Sentiment Analysis</a></li>
            <li><a href="#" class="option-link">Abuse Detection</a></li>
        </ul>
    </div>

</body>
</html>
